[core]
    editor = nvim
    excludesfile = ~/.config/git/ignore
    autocrlf = input
[pull]
    rebase = true
[rebase]
    autoStash = true
[fetch]
    prune = true
[push]
    autoSetupRemote = true
[init]
    defaultBranch = main
[merge]
    conflictstyle = zdiff3
[diff]
    colorMoved = default
[include]
    path = ~/.gitconfig.local
